---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

import Hero from '../components/security/Hero.astro';
import SecurityGlance from '../components/security/SecurityGlance.astro';
import Principles from '../components/security/Principles.astro';
import DataBoundaries from '../components/security/DataBoundaries.astro';
import Hosting from '../components/security/Hosting.astro';
import AccessRequirements from '../components/security/AccessRequirements.astro';
import FinalCTA from '../components/security/FinalCTA.astro';
---

<Layout title="Security | Binizam">
  <Navbar />

  <main class="z-10 relative flex-grow pt-32 pb-24">
    <Hero />
    <SecurityGlance />
    <Principles />
    <DataBoundaries />
    <Hosting />
    <AccessRequirements />
    <FinalCTA />
  </main>

  <Footer />
</Layout>